p{
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}

h1{

    font-family: sans-serif;
    color:rgb(255, 0, 0)
    
}
body{
background-image: url("WallpaperGram.IR_1562529429_z72328.jpg") ;
background-repeat: repeat;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

#g{
    color: rgb(3, 255, 95);
    font-family: sans-serif;
}

#s{
    color: rgb(0, 191, 0);

}
#a{
    font-family:  sans-serif;
    color :green


}

body {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background-color: #f8f8fd;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    }
    .container {
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    }
    .title {
    margin: 0;
    }
    .subtitle {
    display: inline-block;
    margin: 5px 0px 20px;}