p{
    color: aliceblue;
    font-family: sans-serif;
}

h1{

    color:cyan
}
body{
background-image: url("photo_2020-06-04_09-31-24.jpg") ;
background-repeat: repeat;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

#g{
    color: rgb(3, 255, 95);
    font-family: sans-serif;
}

#s{
    color: rgb(0, 191, 0);

}